body, html{height:100%;}

body {
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3e3e3e;
    background-color: #000000;
    background-image: url(http://localhost/ProjetLecteur/css/images/bg.gif) ;
    background-repeat: repeat-x;
    background-position: top;
    width:95%; 
}
a {
    text-decoration:none;
}


.modif { 
    text-align: right; 
    margin-left: 20px; 
}

#conteneur { 
    position : relative; 
    min-height:100%; 
    margin : 0 auto; 
}

#header {
    padding-top:6px;
    margin:0 auto;
    height:120px;
    width:100%;
}
#menu {
    width:100%;
    height:38px;
    
}



#menu a {
    float:right;
    font-size:15px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    height:28px;
    padding-top:10px;
}
#menu a:hover {
    
    color:#96ED00;
}
#header-Bottom {
    margin:0;
    height:89px;
    background: url(http://localhost/ProjetLecteur/css/images/header_bot_bg.gif) no-repeat;
    clear:both;
}
#logoBlock {
    float:left;
    width:255px;
    padding-left:135px;
    padding-top:10px;
    height:79px;
}
#logoBlock h1{
    font-weight:bold;
    font-family: "Trebuchet MS";
    color:#fff;
    font-size:41px;
    margin:0;
    line-height:1.0em;
}



#centerCol {
    clear:both;
    margin:0;
    width:100%;
    height: 80%;
    margin-bottom: 0; 

}

#playListTop {
    
    padding-top:20px;
    margin:0;
    width: 100%;
}
#playListTop h3 {
    
    color:#81CB02;
    font-size:20px;
    font-weight:bold;
    height:24px;
    margin:0;
    padding-left:30px;
    padding-top:8px;
    background: url(http://localhost/ProjetLecteur/css/images/playlist_head_bg.gif) no-repeat;
}


#playListBody {
    margin:0;
    height:80%;
    width:100%;
    border-collapse: collapse;
}
.head {
    height:20px;   

}


.head th {
    font-size:12px;
    font-weight:bold;
    color:#DBDBDB;
    margin:0;
    padding-top:5px;
    text-align: center; 
    border : solid 1px #ffffff; 
    
}

tr { 
    height: 60px; 
    border : solid 1px white; 
}

tr a { 
    font-size : 15px; 
    color : white;
}

.titre { 
    text-align:  center;
    color: white; 
    font-size : 20px; 
}

.periodeMel { 
    text-align:  center;
    font-size: 15px;
    color: white;
}

.avpos{ 
    text-align:  center;
    color: white; 
    font-size : 17px; 
}

.couv { 
    text-align:  center;
}


.head th.left {
    width:10%;

}
.head th.centr {
    width:38%;

}
.head th.right {
    width:15%;


}

.head th.periode { 
    width : 12%
}

.head th.average {
    width:12%;

}
playListDark {
    background-color:#464646;
}
.playListDark td {
    color:#B3B3B3;
    margin:0;
    height:20px;
    padding-top:3px;
    background-color:#464646;
    
    border : solid 1px #ffffff ; 
    
}
.playListDark td.play {
    background:#464646 url(http://localhost/ProjetLecteur/css/images/play.gif) no-repeat 12px center;	
    width:10%;  
}

playListLight {

}
.playListLight td {
    color:#B3B3B3;
    margin:0;
    border : solid 1px #ffffff; 
    border-collapse: collapse;
}
.playListLight td.play {
    background: url(http://localhost/ProjetLecteur/css/images/play.gif) no-repeat 20px center;	
    width:10%;  
}




#footer {
    margin-top : 10px; 
    width : 100%; 
    height:98px;
    clear:both;
    position : absolute; 
    bottom: 0; 
    background: url(http://localhost/ProjetLecteur/css/images/foooter_bg.gif) repeat-x;	 
}

.rights{
    color:#3E3E3E;
    text-align:center;
    font-size : 15px; 
}
.rights a{
    color:#3E3E3E;
    text-decoration:none;
}
.rights a:hover{
    color:#ffffff;
    text-decoration:underline;
}