body {
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3e3e3e;
    background-color: #000000;
    background-image: url(http://localhost/ProjetLecteur/css/images/bg.gif) ;
    background-repeat: repeat-x;
    background-position: top;
    width:95%; 
}
a {
    text-decoration:none;
}


.modif { 
    text-align: right; 
    margin-left: 20px; 
}

#header {
    padding-top:6px;
    margin:0 auto;
    height:120px;
    width:100%;
}
#menu {
    width:100%;
    height:38px;
    
}

.identifiant{ 
    margin-left:80%; 
    font-size:12px;
    color: white;
}

.role{
    color : white; 
    margin-top: 2px;
    margin-left:80%; 
    font-size:12px;
}

#menu a {
    float:right;
    font-size:15px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    height:28px;
    padding-top:10px;
}
#menu a:hover {
    
    color:#96ED00;
}
#header-Bottom {
    margin:0;
    height:89px;
    background: url(http://localhost/ProjetLecteur/css/images/header_bot_bg.gif) no-repeat;
    clear:both;
}
#logoBlock {
    float:left;
    width:255px;
    padding-left:135px;
    padding-top:10px;
    height:79px;
}
#logoBlock h1{
    font-weight:bold;
    font-family: "Trebuchet MS";
    color:#fff;
    font-size:41px;
    margin:0;
    line-height:1.0em;
}



#centerCol {
    clear:both;
    margin:0;
    width:100%;
    height: 80%;
}

#playListTop {
    
    padding-top:20px;
    margin:0;
    width: 100%;
}
#playListTop h3 {
    
    color:#81CB02;
    font-size:20px;
    font-weight:bold;
    height:24px;
    margin:0;
    padding-left:30px;
    padding-top:8px;
    background: url(http://localhost/ProjetLecteur/css/images/playlist_head_bg.gif) no-repeat;
}

td { 
    border: 1px solid white; 
}

#playListBody {
    margin:0;
    height:100%;
    width:100%;
}
.head {
    height:20px;



}
.head th {
    font-size:12px;
    font-weight:bold;
    color:#DBDBDB;
    margin:0;
    padding-top:5px;
    text-align: center; 
    border : 1px solid #96ED00; 
    
}

tr { 
    height: 30px; 
    border : 1px solid #96ED00; 
}

tr a { 
    font-size : 15px; 
    color : red;
}



.head th.pouvoirAdmin { 
    width:7%; 
}
.head th.left {
    width:10%;

}
.head th.centr {
    width:25%;

}
.head th.right {
    width:25%;


}

.head th.periode { 
    width : 10%
}

.head th.average {
    width:10%;


}
playListDark {
    height:20px;
    background-color:#464646;
    width:100%;
}
.playListDark p {
    color:#B3B3B3;
    margin:0;
    height:20px;
    float:left;
    padding-top:3px;
    background-color:#464646;
}
.playListDark p.play {
    background:#464646 url(http://localhost/ProjetLecteur/css/images/play.gif) no-repeat 12px center;	
    width:10%;  
}
.playListDark p.track {
    width:50%;
    padding-left:12px; 
}
.playListDark p.artist{
    width:30%;
    padding-left:12px;
}
playListLight {
    height:20px;
    width:100%;
}
.playListLight p {
    color:#B3B3B3;
    margin:0;
    height:20px;
    float:left;
    padding-top:3px;
    width:100%;
}
.playListLight p.play {
    background: url(http://localhost/ProjetLecteur/css/images/play.gif) no-repeat 12px center;	
    width:10%;  
}
.playListLight p.track {
    width:50%;
    border-left:solid 1px #40434A;
    padding-left:12px;
}
.playListLight p.artist{
    width:30%;
    border-left:solid 1px #40434A;
    padding-left:12px;
}
p.bot {
    border-top:solid 1px #40434A;
    clear:both;
    margin:0;
    width:100%;
    height:1px;
}
#playListBot {
    	
    height:32px;
    width:100%;
}



#footer {
    width : 95%; 
    height:98px;
    clear:both;
    position: absolute; bottom: 0; 
    background: url(http://localhost/ProjetLecteur/css/images/foooter_bg.gif) repeat-x;	 
}

.rights{
    color:#3E3E3E;
    text-align:center;
}
.rights a{
    color:#3E3E3E;
    text-decoration:none;
}
.rights a:hover{
    color:#ffffff;
    text-decoration:underline;
}
