
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

    q:before, q:after, blockquote:before, blockquote:after {
        content: "";
        content: none;
    }

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body {
    width: 100%;
    *zoom: 1;
}

    body:before, body:after {
        content: "";
        display: table;
    }

    body:after {
        clear: both;
    }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

a {
    text-decoration: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    font-weight: 100;
}

h1, h2 {
    line-height: 1em;
}

h2 {
    font-size: 2em;
}

header {
    background-color: #424242;
    color: #FFF;
    *zoom: 1;
}

    header:after {
        content: "";
        display: table;
        clear: both;
    }

    header a {
        color: #FFF;
    }

    header h1 {
        background-color: #42a4bd;
        float: left;
        display: block;
        padding: 0.6em 1em 1.31em;
        margin-left: 1.2em;
    }

    header nav {
        float: left;
        *zoom: 1;
    }

        header nav:after {
            content: "";
            display: table;
            clear: both;
        }

        header nav li {
            display: inline-block;
        }

        header nav a {
            padding: 1em;
            padding-bottom: 1.22em;
            display: block;
        }

            header nav a:hover {
                border-bottom: 3px solid #42a4bd;
            }

    header .current a {
        border-bottom: 3px solid #42a4bd;
    }

#header-right {
    float: right;
    margin-top: 12px;
}

#search-form {
    margin-right: 1em;
    float: left;
}

    #search-form input {
        border: none;
        background-color: #FFF;
        height: 31px;
        padding-left: 0.5em;
        color: #111;
    }

        #search-form input:focus {
            outline: none;
        }

    #search-form button {
        background: url(/img/glas.png) no-repeat;
        background-color: #FFF;
        text-indent: -9999px;
        width: 31px;
        height: 33px;
        background-size: 14px 14px;
        background-position: center center;
        border: none;
        margin-left: -10px;
    }

/*
#search-focus:focus{
	width: 290px;
	@include transition(500ms);
}
*/
#admin {
    float: right;
}

    #admin span {
        background-color: #f3f3f3;
        color: #424242;
        padding: 3px 3em 3px 3px;
        margin-right: 1em;
        text-align: left;
        display: inline-block;
        font-weight: 900;
        margin-left: -4px;
    }

#hero {
    background: url(/img/herobg.jpg);
    
    background-size: cover;
}

    #hero h1 {
      
        padding-left: 2em;
        font-size: 2em;
        line-height: 1.2em;
        
    }

        #hero h1:after, #hero h1:before {
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color: #FFF;
            margin: 0.7em 0;
        }

        #hero h1:after {
            margin-bottom: 0;
        }

#listeners {
    font-size: 1.4em;
    padding-left: 3em;
    margin-top: 0.7em;
}

#music {
    position: relative;
    *zoom: 1;
}

    #music:after {
        content: "";
        display: table;
        clear: both;
    }

#genre-colonne {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #424242;
    color: #FFF;
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167%;
    margin-left: 0;
    padding: 2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
    display: block;
}

    #genre-colonne h2 {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 900;
        padding-bottom: 0.6em;
        margin-bottom: 0.6em;
        border-bottom: 1px solid #FFF;
    }

    #genre-colonne .subgenre {
        padding-left: 1em;
        font-weight: 100;
    }

    #genre-colonne li {
        padding: 0.2em 0;
        display: block;
    }

    #genre-colonne a {
        color: #FFF;
    }

    #genre-colonne .current span {
        background-color: #42a4bd;
    }

    #genre-colonne li span {
        display: block;
        padding: 3px;
    }

    #genre-colonne .current .current a {
        font-weight: 900;
        color: #42a4bd;
    }

#playlist {
    display: inline;
    float: left;
    width: 72.91667%;
    margin: 0 1.04167%;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em 1em;
   
   
}

    #playlist h2 {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 900;
        padding-bottom: 0.6em;
        margin-bottom: 0.6em;
        border-bottom: 1px solid #42a4bd;
    }

        #playlist h2 span {
            color: #42a4bd;
        }

    #playlist table {
        width: 100%;
    }

    #playlist th {
        color: #42a4bd;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: 1px solid #424242;
        padding: 0.4em;
        white-space: nowrap;
    }

    #playlist td {
        padding: 0.4em 0.6em;
    }

    #playlist tr:nth-child(even) {
        background-color: #f3f3f3;
    }

.play {
    background-image: url(/img/play.png);
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

    .play.disabled {
        background-image: url(/img/play-disabled.png);
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }

    .play a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 47px;
        height: 52px;
    }

    .play.stop {
        background-image: url(/img/stop.png);
    }

.down {
    background-image: url(/img/download.png);
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

    .down > a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-indent: -999999px;
    }

.tooltips-item {
    position: absolute;
    width: 185px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0px;
    margin-left: -10px;
    margin-top: 17px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
    display: none;
}

    .tooltips-item a {
        color: white;
        display: block;
        height: 34px;
        position: relative;
        line-height: 34px;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        background: #42a4bd;
    }

.wrapper {
    max-width: 1114px;
    margin: 0 auto;
    *zoom: 1;
}

    .wrapper:after {
        content: "";
        display: table;
        clear: both;
    }

#intro-page {
    text-align: center;
    padding: 4em 0;
}

    #intro-page h1 {
        font-size: 2em;
    }

        #intro-page h1:after, #intro-page h1:before {
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color: #42a4bd;
            margin: 0.5em auto;
        }

        #intro-page h1:after {
            margin-top: 0.7em;
        }

.left {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
}

.right {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    margin-left: 51.04167%;
    text-align: right;
}

#intropage {
    font-weight: 100;
    padding: 0 5em;
}

.monetize-item {
    font-weight: 100;
    *zoom: 1;
}

    .monetize-item:after {
        content: "";
        display: table;
        clear: both;
    }

    .monetize-item .wrapper {
        background-image: url(/img/money.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding: 5.5em 0;
    }

    .monetize-item h2 {
        color: #42a4bd;
        margin-bottom: 0.5em;
        line-height: 1em;
    }

    .monetize-item audio {
        margin-top: 1em;
    }

    .monetize-item:nth-child(odd) {
        background-color: #f3f3f3;
    }

    .monetize-item:nth-child(even) .wrapper {
        background-position: left center;
    }

    .monetize-item:nth-child(3) .wrapper {
        background-image: url(/img/map.svg);
    }

    .monetize-item:nth-child(2) .wrapper {
        background-image: url(/img/campaigns.png);
        background-size: 366px 230px;
        background-position: left bottom;
    }

    .monetize-item:nth-child(1) .wrapper {
        background-size: 270px 270px;
    }

.country-list {
    margin-top: 1em;
}

    .country-list li {
        display: inline-block;
    }

    .country-list .soon img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        opacity: 0.4;
    }

#brands {
    padding: 4em 0;
    /*
  ul{
  	margin-top: 4em;
  }
  
  li{
  	@include column(3);
  	background-color: $grisc;
  	margin-bottom: 1.3em;
  	img{
  		margin: 0 auto;
  		display: block;
  		padding: 1em 0;
  	}
  }
  p{
  	text-align: center;
  }
  */
}

    #brands h2 {
        text-align: center;
    }

        #brands h2:after, #brands h2:before {
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color: #42a4bd;
            margin: 0.5em auto;
        }

        #brands h2:after {
            margin-top: 0.7em;
        }

    #brands img {
        display: inline;
        float: left;
        width: 22.91667%;
        margin: 0 1.04167%;
        height: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #brands p {
        margin-bottom: 3em;
        text-align: center;
    }

    #brands .active {
        padding-left: 0;
    }

footer {
    background: #42a4bd;
    color: #FFF;
    *zoom: 1;
    padding: 2em 0;
    clear: both;
}

    footer:after {
        content: "";
        display: table;
        clear: both;
    }

    footer a {
        color: #FFF;
        font-weight: 900;
    }

    footer div div {
        display: inline;
        float: left;
        width: 31.25%;
        margin: 0 1.04167%;
    }

    footer span {
        display: block;
    }

    footer img {
        display: block;
        margin: 12px auto 0;
    }

    footer .btn {
        border: 1px solid #FFF;
        padding: 0.3em 0.6em;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0.3em;
        float: right;
        display: inline-block;
        background-color: transparent;
    }

#social-list {
    text-align: right;
}

    #social-list li {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

        #social-list li a {
            display: block;
            width: 30px;
            height: 30px;
            background: url(/img/sprite-social.png);
            background-size: 90px 30px;
            font-size: 0;
        }

    #social-list .twitter a {
        background-position: -30px 0;
    }

    #social-list .googlep a {
        background-position: -60px 0;
    }

.faq-item {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167%;
    background-color: #f3f3f3;
    margin-bottom: 1.3em;
    padding: 1.2em;
    min-height: 317px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .faq-item h2 {
        text-align: center;
        margin: 0.35em 0;
        line-height: 1.1em;
        font-size: 1.5em;
    }

    .faq-item img {
        margin: 0 auto;
        display: block;
    }

    .faq-item .btn {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
    }

.cdn-item {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    background-color: #f3f3f3;
    margin-bottom: 1.3em;
    padding: 1.2em;
    min-height: 317px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .cdn-item h2 {
        text-align: center;
        margin: 0.35em 0;
        line-height: 1.1em;
    }

    .cdn-item img {
        margin: 0 auto;
        display: block;
    }

.col {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    padding: 5em 2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#cdn-bloc {
    position: relative;
    padding: 5em 0;
    background-color: #424242;
}

    #cdn-bloc .col {
        display: inline;
        float: left;
        width: 31.25%;
        margin: 0 1.04167%;
        padding: 1em;
        color: #FFF;
        margin-top: 3em;
    }

        #cdn-bloc .col h3 {
            font-size: 1.6em;
            text-align: center;
            margin-bottom: 0.6em;
            line-height: 1.2em;
            display: table-cell;
            min-height: 65px;
            display: block;
        }

        #cdn-bloc .col ul {
            margin-top: 1em;
            padding: 15px;
        }

        #cdn-bloc .col li {
            list-style-type: circle;
            list-style-position: inside;
        }

            #cdn-bloc .col li a {
                color: #FFF;
            }


            #cdn-bloc .col li img {
                width: 100%;
                height: auto;
            }

    #cdn-bloc h2 {
        text-align: center;
        color: #FFF;
    }

        #cdn-bloc h2:after, #cdn-bloc h2:before {
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color: #42a4bd;
            margin: 0.5em auto;
        }

        #cdn-bloc h2:after {
            margin-top: 0.7em;
        }

#cdn-form input {
    display: inline-block;
    width: 100%;
    margin: 1em 1em 0.3em 0;
    padding: 0.3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

    #cdn-form input[type="submit"] {
        background-color: #42a4bd;
        text-transform: uppercase;
        color: #FFF;
        letter-spacing: 1px;
        width: 100%;
        -moz-transition: 500ms;
        -o-transition: 500ms;
        -webkit-transition: 500ms;
        transition: 500ms;
    }

        #cdn-form input[type="submit"]:hover {
            -moz-transition: 500ms;
            -o-transition: 500ms;
            -webkit-transition: 500ms;
            transition: 500ms;
            background-color: #FFF;
            color: #42a4bd;
        }

#radio-stations {
    color: #FFF;
}

    #radio-stations h2:before, #radio-stations h2:after {
        background-color: #FFF;
    }

    #radio-stations ul {
        background-color: #FFF;
        margin: 0.5em 0 1em;
    }

        #radio-stations ul li {
            display: inline-block;
            margin: 0.5em 0.8em 0.7em 0;
        }

.email {
    color: #FFF;
    border: 2px solid #FFF;
    padding: 0.5em 1em;
    display: inline-block;
    margin: 1.5em 0;
    letter-spacing: 2px;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
    text-transform: uppercase;
}

    .email:hover {
        background-color: #FFF;
        color: #42a4bd;
        -moz-transition: 500ms;
        -o-transition: 500ms;
        -webkit-transition: 500ms;
        transition: 500ms;
    }

#api-bloc {
    position: relative;
    color: #FFF;
}

    #api-bloc:before {
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        background-color: #404657;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -9;
    }

    #api-bloc:after {
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        background-color: #f06f52;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -9;
    }

    #api-bloc h2:after, #api-bloc h2:before {
        content: "";
        display: block;
        width: 200px;
        height: 2px;
        background-color: #FFF;
        margin: 0.5em 0;
    }

    #api-bloc h2:after {
        margin-top: 0.7em;
    }

    #api-bloc li {
        font-size: 1.14em;
        background-image: url(/img/check.png);
        background-repeat: no-repeat;
        background-size: 23px 21px;
        padding-left: 2em;
        margin-bottom: 0.2em;
    }

.twocol {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.columnleft {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    padding: 2em 0;
}

    .columnleft div {
        padding: 2em 0;
    }

.columnright {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    padding: 4em 0;
    position: relative;
}

    .columnright form input {
        border: 2px solid #42a4bd;
        display: inline-block;
        width: 40%;
        margin: 1em 1em 1em 0;
        padding: 0.3em;
    }

    .columnright form textarea {
        border: 2px solid #42a4bd;
        width: 86.4%;
        padding: 0.3em;
    }

    .columnright form input[type="submit"] {
        float: right;
        margin-right: 3.7em;
        background-color: #42a4bd;
        text-transform: uppercase;
        color: #FFF;
        letter-spacing: 1px;
        width: 25%;
        min-width: 133px;
        -moz-transition: 500ms;
        -o-transition: 500ms;
        -webkit-transition: 500ms;
        transition: 500ms;
    }

        .columnright form input[type="submit"]:hover {
            -moz-transition: 500ms;
            -o-transition: 500ms;
            -webkit-transition: 500ms;
            transition: 500ms;
            background-color: #FFF;
            color: #42a4bd;
        }

#blocs h2:after, #blocs h2:before {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background-color: #42a4bd;
    margin: 0.5em 0;
}

#blocs h2:after {
    margin-top: 0.7em;
}

.btn {
    background-color: #42a4bd;
    color: #FFF;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.4em 1em;
    margin: 0.5em 0;
}

#streaming-products {
    padding: 5em 0;
}

    #streaming-products h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 2em;
        line-height: 1em;
    }

        #streaming-products h1:after, #streaming-products h1:before {
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color: #42a4bd;
            margin: 0.5em auto;
        }

        #streaming-products h1:after {
            margin-top: 0.7em;
        }

.productcol {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

    .productcol h2 {
        text-align: center;
        line-height: 1em;
    }

        .productcol h2 span {
            font-size: 0.5em;
            display: block;
        }

    .productcol ul {
        padding: 1em;
        background-color: #f3f3f3;
        font-weight: 500;
    }

    .productcol li {
        margin: 0.3em 0;
    }

    .productcol em {
        color: #f06f52;
        text-transform: uppercase;
        font-weight: 900;
    }

.disabled {
    color: #ababab;
    background: url(/img/disabled.png) no-repeat;
    background-size: 19px 19px;
    padding-left: 2em;
}

.active {
    color: #f06f52;
    background: url(/img/activeg.png) no-repeat;
    background-size: 19px 19px;
    padding-left: 2em;
}

.streaming .active {
    background: url(/img/activeb.png) no-repeat;
    background-size: 19px 19px;
    padding-left: 2em;
    color: #0998dd;
}

.dnasp .active, .dnasp em {
    color: #44c1a9;
}

.dnasp .header-col, .dnasp .download {
    background-color: #44c1a9;
}

.header-col {
    background: #f06f52;
    color: #FFF;
    padding: 2em 1.2em;
}

.streaming .active, .streaming em {
    color: #0998dd;
}

.streaming .header-col, .streaming .download {
    background-color: #0998dd;
}

.download {
    background-color: #f06f52;
    color: #FFF;
    display: block;
    text-align: center;
    letter-spacing: 2px;
    padding: 1em;
    text-transform: uppercase;
}

    .download.current:after {
        content: "";
        width: 100px;
        height: 50px;
        background: url(/img/current.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        display: block;
        position: absolute;
        bottom: -80px;
        width: 90%;
        margin: 0 auto;
    }

.streaming-description {
    background-color: #44c1a9;
    padding: 4em 0;
    color: #FFF;
}

    .streaming-description h2 span {
        display: block;
        font-size: 0.5em;
    }

    .streaming-description p {
        margin: 0.6em 0;
    }

    .streaming-description a {
        font-weight: bold;
        color: #FFF;
    }

    .streaming-description li {
        padding: 0.2em 0 0.2em 2em;
        background: url(/img/arrow-right.png) no-repeat;
        background-size: 10px 16px;
        background-position: left center;
        font-weight: bold;
    }

.explanation {
    display: inline;
    float: left;
    width: 64.58333%;
    margin: 0 1.04167%;
    padding-right: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.links {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
}

    .links .link {
        margin: 3.6em 0;
    }

        .links .link span {
            display: block;
            font-weight: 900;
        }

        .links .link a {
            display: inline-block;
            background-color: #fff;
            color: #42a4bd;
            width: 60%;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 0.5em;
            margin: 0.5em 0;
        }

    .links #proceed {
        font-weight: 100;
    }

.alert {
    padding: 2em 2em 2em 6em;
    margin: 1em auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/img/alert.png) no-repeat;
    background-size: 68px 68px;
    background-position: 1em center;
    position: relative;
}

    .alert:after {
        content: "";
        display: block;
        z-index: -9999;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #f3f3f3;
    }

#started {
    padding: 4em 0;
    clear: both;
    background-color: #f3f3f3;
}

    #started .wrapper div {
        display: inline;
        float: left;
        width: 47.91667%;
        margin: 0 1.04167%;
    }

    #started h2:after, #started h2:before {
        content: "";
        display: block;
        width: 200px;
        height: 2px;
        background-color: #42a4bd;
        margin: 0.5em 0;
    }

    #started h2:after {
        margin-top: 0.7em;
    }

    #started h3 {
        margin: 1em 0 1.3em;
        font-size: 2em;
        color: #42a4bd;
        line-height: 1em;
    }

    #started .btn {
        letter-spacing: 1px;
    }

#diagram {
    width: 80%;
    height: auto;
    margin: 3em 0 0;
}

#download-dsp {
    background-color: #f3f3f3;
    padding: 4em 0;
    text-align: center;
}

    #download-dsp h2 {
        text-align: center;
    }

        #download-dsp h2:after, #download-dsp h2:before {
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color: #42a4bd;
            margin: 0.5em auto;
        }

        #download-dsp h2:after {
            margin-top: 0.7em;
        }

    #download-dsp span {
        display: block;
        margin: 0 auto;
    }

    #download-dsp .version {
        background-color: #FFF;
        width: 270px;
        padding: 0.5em;
    }

    #download-dsp .btn {
        width: 270px;
        padding: 0.5em;
        margin: 0 auto;
    }

    #download-dsp .info {
        width: 400px;
        color: #ababab;
        margin-top: 1em;
    }

#faq {
    background-color: #f3f3f3;
    padding: 3em 0;
    min-height: 1.5em;
}

    #faq .wrapper div {
        background-color: #FFF;
        margin-bottom: 2em;
        padding: 2.5em;
    }

    #faq h2 {
        margin: 0.4em 0 0.7em;
        font-size: 1.7em;
    }

    #faq p {
        margin-bottom: 0.9em;
    }

    #faq em {
        color: #42a4bd;
        font-weight: bold;
    }

    #faq h3 {
        font-size: 1.5em;
        color: #42a4bd;
        margin: 1em 0 0.6em;
    }

    #faq a {
        color: #42a4bd;
        font-weight: bold;
    }

    #faq ol li {
        list-style-type: decimal;
        list-style-position: inside;
        padding: 0.3em 0;
    }

#faqnav ul {
    text-align: center;
    margin-bottom: 2em;
}

    #faqnav ul li {
        display: inline-block;
        font-size: 1.3em;
        font-weight: 500;
    }

        #faqnav ul li a {
            color: #424242;
            margin: 0 0.2em;
            padding: 0.5em;
            display: block;
        }

    #faqnav ul .current a {
        color: #42a4bd;
    }

#dnas {
    background-color: #f06f52;
}

#streamingservice {
    background-color: #0998dd;
}

.streaming-description {
    display: none;
}

.update {
    font-weight: bold;
    text-align: center;
    margin-top: 3em;
}

#player {
    background-color: #424242;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    border-top: 2px solid #42a4bd;
    padding: 1em 2em;
}

.ui-slider-range {
    width: 20%;
    height: 10px;
    background-color: #42a4bd;
}

.p-play {
    background: url(/img/p-play.svg);
    background-size: 40px 40px;
    border: none;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    margin-right: 2em;
    outline: none;
}

.p-details {
    display: inline-block;
}

    .p-details div {
        display: inline-block;
    }

.p-controls {
    float: none !important;
    display: inline-block;
}

.p-volume-bar {
    display: inline-block;
    position: relative;
    margin-right: 2em;
    background-color: #FFF;
    width: 150px;
}

.p-vol {
    background: url("/img/vol.svg");
    border: none;
    text-indent: -9999px;
    width: 20px;
    height: 15px;
    background-size: 20px 15px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

.p-volume-bar-value {
    background: #42a4bd;
    position: absolute;
    left: 0;
    width: 50%;
    top: 0;
    bottom: 0;
}

.p-radio {
    text-transform: uppercase;
    color: #42a4bd;
    font-weight: 600;
}

    .p-radio:after {
        content: " | ";
        color: #f3f3f3;
    }

.p-artist:after {
    content: " – ";
}

.p-title {
    color: #f3f3f3;
}

.p-stop {
    background: url(/img/p-stop.svg);
    background-size: 40px 40px;
    border: none;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    margin-right: 2em;
    outline: none;
}

#advancedsearch {
    *zoom: 1;
    padding: 2em 0 3em;
}

    #advancedsearch:after {
        content: "";
        display: table;
        clear: both;
    }

    #advancedsearch input, #advancedsearch label, #advancedsearch select {
        display: block;
        width: 95%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #advancedsearch div {
        display: inline;
        float: left;
        width: 31.25%;
        margin: 0 1.04167%;
    }

    #advancedsearch input, #advancedsearch select {
        margin-bottom: 0.7em;
    }

    #advancedsearch select {
        background: transparent;
        height: 36px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: none;
        border-radius: 0;
        color: #8c939b;
        cursor: pointer;
        font-family: "Open Sans", helvetica, "sans-serif";
        font-weight: 400;
        padding: 0 0.5em;
        margin-right: 0 !important;
        background-color: #f3f3f3;
        border: none;
        background-image: url(/img/down_arrow-select.png);
        background-repeat: no-repeat;
        background-position: right center;
    }

    #advancedsearch input {
        padding: 0.42em;
        background-color: #f3f3f3;
        border: none;
    }

        #advancedsearch input[type="submit"] {
            background-color: #42a4bd;
            color: #FFF;
            border: none;
            margin-top: 2.1em;
            border: 2px solid #42a4bd;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 0.3em;
        }

            #advancedsearch input[type="submit"]:hover {
                background-color: #FFF;
                color: #42a4bd;
            }

#dropbar {
    position: absolute;
    display: none;
}

    #dropbar a {
        display: block;
        padding: 0.4em;
        background-color: #42a4bd;
    }

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 14px !important;
}

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        bottom: 90%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        background-color: #000;
        background-color: #42a4bd;
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        border: 2px solid white;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        bottom: 90%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid rgba(51, 51, 51, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 769px) {
    .cdn-item {
        display: inline;
        float: left;
        width: 47.91667%;
        margin: 0 1.04167%;
        margin-bottom: 1em;
        min-height: 350px;
    }

    .wrapper {
        padding-left: 15px;
    }

    .explanation, .links, .alert, .col, .columnleft, .columnright {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
    }

    .link {
        text-align: center;
    }

    #brands li {
        display: inline;
        float: left;
        width: 31.25%;
        margin: 0 1.04167%;
        margin-bottom: 1em;
    }

    #cdn-bloc:before, #cdn-bloc:after {
        background-color: #FFF;
    }

    #cdn-bloc .wrapper {
        padding: 0;
    }

    #cdn-bloc .col {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    #radio-stations {
        background-color: #42a4bd;
        padding-top: 2em;
        padding-bottom: 2em;
        margin: 0;
        width: 100%;
    }

    #playlist td:nth-child(5), #playlist td:nth-child(7), #playlist td:nth-child(8), #playlist th:nth-child(5), #playlist th:nth-child(7), #playlist th:nth-child(8) {
        display: none;
    }

    #header-right {
        margin-top: -46px;
    }

    header .curent a {
        border-bottom: none;
    }

    .alert.wrapper {
        padding-left: 7em;
    }

    #started .wrapper div {
        display: inline;
        float: left;
        width: 47.91667%;
        margin: 0 1.04167%;
    }

        #started .wrapper div:first-child {
            display: inline;
            float: left;
            width: 97.91667%;
            margin: 0 1.04167%;
        }

    .productcol {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
        margin-bottom: 1em;
    }

    .faq-item {
        display: inline;
        float: left;
        width: 47.91667%;
        margin: 0 1.04167%;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 480px) {
    #genre-colonne {
        position: relative;
        width: 100%;
        margin: 0;
    }

    #playlist {
        display: block;
        width: 100%;
        margin: 0;
    }

        #playlist td:nth-child(4), #playlist th:nth-child(4), #playlist td:nth-child(6), #playlist th:nth-child(6), #playlist td:nth-child(2), #playlist th:nth-child(2) {
            display: none;
        }

    #hero h1 {
        padding-top: 0.1em;
        padding-left: 10px;
        padding-right: 10px;
    }

    #listeners {
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }

    #intropage {
        padding: 0;
        text-align: left;
    }

    .cdn-item {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
        margin-bottom: 1em;
        min-height: 0;
    }

    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #started .wrapper div {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
    }

    footer div div {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
    }

    footer img {
        padding: 1em 0;
    }

    footer .btn {
        float: none;
        margin: 0.5em auto;
        display: block;
        text-align: center;
    }

    #social-list {
        text-align: center;
    }

    #cdn-form input {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        #cdn-form input[type="submit"] {
            float: none;
            width: 100%;
            display: block;
        }

    #brands li {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
        margin-bottom: 1em;
    }

    #download-dsp .info {
        width: 100%;
    }

    header h1 {
        position: absolute;
        z-index: 9999999;
        background-color: transparent;
    }

    #api-bloc {
        background-color: #404657;
    }

    .twocol {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .left, .right {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
        text-align: left;
    }

    .monetize-item .wrapper {
        background-image: none !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    #header-right {
        margin-top: 0;
        padding: 0.3em 0;
    }

    #search-form {
        float: none;
        width: 100%;
    }

    .col {
        padding: 0;
    }

    #hero {
        padding: 1em 0;
    }

    .faq-item {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
        margin-bottom: 1em;
    }

    #faqnav ul li {
        display: block;
    }

    #advancedsearch div {
        display: inline;
        float: left;
        width: 97.91667%;
        margin: 0 1.04167%;
    }

    #advancedsearch input, #advancedsearch select {
        width: 100%;
    }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* 2015-06-03 **********************************************************/
body {
    margin-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    border-bottom: 1px solid #828282;
}

td.genre a, td.radio-name a {
    color: #222;
}

/***********************************************************************/



.play .fa-play {
    display:none;
    visibility:hidden;
}


/***********************************************************************/
.prodiverAgreement_title
{ margin:0 auto; width:960px; padding: 4em 0 2em; text-align: center; }

#provider_agreement
{ margin:0 auto; width:960px; padding:2em 0; }

#provider_agreement p
{ margin-bottom:0.3em; }

#provider_agreement h3
{ font-weight:bold; font-size: 1.2em; margin: 2em 0 0.5em; color:#42a4bd; }

#provider_agreement a
{ color:#42a4bd; font-weight:bold; } 


/***********************************************************************/
@media only screen and (max-width: 480px){
#header-right
{ display: block; float: none; }

header h1
{ float: none; padding: 0; margin-bottom: 1em; }

header
{ position: relative; height: auto; padding-bottom: 1em; }

body
{ margin-top: 0; }

.mean-container .mean-bar
{ margin-bottom: 1em; }

#search-form
{ text-align: center; }

#dropbar
{ width: 150px; left: 0; right: 0; margin: 0 auto; }

}